// COLORS
$clr-border-red: hsl(7, 99%, 70%);
$clr-border-yellow: hsl(51, 100%, 49%);

$clr-graphic: hsl(167, 40%, 24%);
$clr-photography: hsl(198, 62%, 26%);
$clr-footer: hsl(168, 34%, 41%);
$clr-footer-bg: hsl(167, 44%, 70%);

$clr-white: hsl(0, 0%, 100%);
$clr-blue-900: hsl(212, 27%, 19%);
$clr-blue-200: hsl(213, 9%, 39%);
$clr-blue-100: hsl(232, 10%, 55%);
$clr-blue-50: hsl(210, 4%, 67%);

// FONTS
$default-font-size: 1.8rem;
$font-heading: "Fraunces", serif; // 700 , 900
$font-base: "Barlow", sans-serif; // 600

// DESIGN WERE CREATED AT THE FOLLOWING WIDTHS:
// - Mobile: 375px
// - Desktop: 1440px