.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include respond(phone) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__image {
        width: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}